#canvas {
    width: 100vw;
    height: calc(100vh);
    /*  - 19px */
}
/* #text {
    text-align: left;
    width: 100%;
    font-size: 15px;
    padding:2px;
    line-height: 1;
} */
body {
    margin: 0px;
    overflow: hidden;
    background-color:lightblue;
    /* background-color: black; */
}
* {
    font-family: 'Press Start 2P', cursive;
}